# Data Exploration

In [ ]:
import pandas as pd 
import seaborn as sns

### Background

<img src="https://media.giphy.com/media/OJw4CDbtu0jde/giphy.gif"/>

> The RMS Titanic was a British passenger liner that sank in the Atlantic Ocean in the early morning hours of 15 April 1912, after it collided with an iceberg during its voyage from Southampton to New York City. Of the 2,240 passengers and crew on board, more than 1,500 lost their lives in the disaster. 

<img src="https://titanicfacts.net/wp-content/uploads/2018/06/titanic-maiden-voyage-route.gif"/>

See video summary [here](https://youtu.be/b0L_2jKEbA4).


### Dataset

We're working with a dataset that contains information on passengers that boarded the Titanic. Our end goal is to build a machine learning model that predicts whether a passenger survived the Titanic shipwreck based on their features. The first thing that we need to do is explore our dataset. What do we know about these passengers? 



### Column Descriptions

- `PassengerID`: ID of passenger
- `Survived`: whether the passenger survived
- `PClass`: passenger class (1 is upper class, 3 is lower class)
- `Name`: name of passenger
- `Gender`: whether passenger is male or female
- `Age`: age of passenger
- `SibSp`: number of siblings/spouses aboard the Titanic
- `Parch`:  number of parents/children aboard the Titanic
- `Ticket`: ticket number
- `Fare`: price of passenger's ticket
- `Cabin`: passenger's cabin number
- `Embarked`: port that the passenger embarked on

### Python 101 

4 main datatypes?

### Let's import the data!

In [ ]:
data = pd.read_csv("https://s3.us-east-2.amazonaws.com/explore.datasets/outschool/titanic_train_data.csv")

We'll start by looking at the size of our dataset. How many rows and columns are we dealing with?

In [ ]:
data.____

Let's also take a look at the first few rows of the dataset.

Can we also look at the last few rows of the dataet?

Now, let's see a summary of our columns. Do any of our columns have missing values?

### Let's first remove the columns that we don't need

In [ ]:
# let's remove the cabin, ticket columns

data = data.drop(columns=[_____])

### Let's remove the missing values

In [ ]:
data = data.dropna()

What's the shape of our dataset now?

### How many passengers survived the Titanic shipwreck?

In [ ]:
data['Survived']

### What is the average age of passengers?

In [ ]:
data['Age'].___

What about the median age?

In [ ]:
data['Age'].median()

### Let's visualize the distribution of age using 3 different plots:

- [boxplot](https://seaborn.pydata.org/generated/seaborn.boxplot.html)
- [violinplot](https://seaborn.pydata.org/generated/seaborn.violinplot.html?highlight=violinplot#seaborn.violinplot)
- [histplot](https://seaborn.pydata.org/generated/seaborn.histplot.html#seaborn.histplot)

In [ ]:
sns.boxplot(x='_____', data=data, palette='Blues')

In [ ]:
sns.violinplot(x='_____', data=data, palette='Blues')

In [ ]:
sns.histplot(x='_____', data=data, palette='Blues')

### How many kids were on the shipwreck?

In [ ]:
data['is_kid'] = data['Age'] < ___

### How many males and females were on the shipwreck?

In [ ]:
data['Gender'].value

### What's the average cost of a ticket?

In [ ]:
data['Fare'].m

What about the median cost?

In [ ]:
data['Fare'].m

Let's check out the distribution of ticket price!

In [ ]:
sns.violinplot(x='__', data=data)

In [ ]:
sns.box(x='__', data=data)

### Who paid the most for a ticket?

In [ ]:
data.sort_values(    )

### Who had the cheapest ticket?

In [ ]:
data.sort_values(    )

### What's the distribution of ticket price for males versus females?

In [ ]:
sns.violinplot(x='____', y='____', data=data)

### How many passenger classes are there?

In [ ]:
data['PClass'].n___()

What are the unique passenger classes?

In [ ]:
data['PClass'].unique()

How many passengers are in each passenger class?

In [ ]:
data['PClass'].value____

What's the average cost of a ticket for each passenger class?

In [ ]:
data.groupby('____')['Fare'].mean()

What's the average age of passengers for each passenger class? How about median age?

### How many family members did each passenger have on the Titanic?

In [ ]:
data['number_of_family_members'] = data['___'] + data['_____']

Let's use the `describe()` function to get more information on the average, median, max, and min number of family members for passengers aboard the Titanic.

In [ ]:
data['number_of_family_members'].d

### How many passengers boarded the Titanic by themselves (no family members)?

In [ ]:
data['number_of_family_members'] ==

Let's create a new column that indicates whether the passenger is on the ship by themselves.

In [ ]:
data['solo_passenger'] =

### How many passengers came by themselves and are kids?

# What can help us predict whether a passenger will survive?

Let's brainstorm some ideas!

- being a solo passenger
- ...

In [ ]:
sns.barplot(x='  ', y=' ' , data=   )